@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&family=Karla:wght@300;400;600&family=Montserrat:ital,wght@0,100;0,900;1,600&family=Ubuntu:ital,wght@0,300;0,500;0,700;1,300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --white-primary: rgb(236, 228, 220);
}

body {
  font-family: "karla", sans-serif;
  color: var(--white-primary);
}
.load {
  width: 100%;
  height: 100vh;
  z-index: 50;
  background-color: aliceblue;
  position: fixed;
}
.loader {
  width: 100%;
  height: 100vh;
  position: fixed;
  object-fit: cover;
}
.temp{
  font-size: 42px;
  font-weight: lighter;
  padding: 20px 0px ;
}

.container {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}
.background-weather {
  width: 100%;
  position: fixed;
  z-index: -1;
  height: 100vh;
  top: 0;
  object-fit: cover;
}
.weather {
  border-radius: 0.7rem;
  max-width: 600px;
  height: 85vh;
  width: 90%;
  display: flex;

  flex-direction: row;
  justify-content: space-around;
  background: rgb(0,0,0);
  background: -moz-linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(181,140,53,0.06561679790026242) 100%);
  background: -webkit-linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(181,140,53,0.06561679790026242) 100%);
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(181,140,53,0.06561679790026242) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#b58c35",GradientType=1);
  -webkit-box-shadow: 9px 4px 44px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 9px 4px 44px -2px rgba(0, 0, 0, 0.75);
  box-shadow: 9px 4px 44px -2px rgba(0, 0, 0, 0.75);
  /* background: black;
  background: -moz-linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(130, 130, 130, 1) 57%,
    rgba(255, 255, 255, 1) 100%
  );
  background: -webkit-linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(130, 130, 130, 1) 57%,
    rgba(255, 255, 255, 1) 100%
  );
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(130, 130, 130, 1) 57%,
    rgba(255, 255, 255, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#ffffff",GradientType=1); */
}
.weather-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  flex-grow: 2;
  
}

.weather-container-view {
  padding: 80px;
  text-align: center;  
}
.icon-weather{
  width: 5rem;
}

.weather-container-data{

  align-self: center;
  

}
.btn-fc{
  align-self: center;
  background-color: darkslategray;
  padding: 10px;
  border-radius: .5rem;
  border: none;
  color: var(--white-primary);
}
.btn-fc:hover{
  background-color: rgb(57, 99, 99);
}
.temp-weather-container{
  gap: 15px;
}